<div class="container">
  <a [routerLink]="['/novels']"><img src="/assets/img/small-header.png" alt="Novels AI" style="max-width: 100%;" /></a>
  <div id="contact-page">
    <h2>Examples in the wild</h2>
    <p>The first example out there is our own YouTube video that you can watch below that demonstrates what results you can get from Novels AI (images not included)</p>
    <iframe src="https://www.youtube-nocookie.com/embed/Ts4ksQNqwgM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p>Subscribe to our YouTube channel to watch more stories made with Novels AI matched with some AI-art. <a href="https://www.youtube.com/@NovelsAI">https://www.youtube.com/&#64;NovelsAI</a></p>
    <h3>The Eternal Fight Dancers</h3>
    <p>The fight dance that never ends!</p>
    <h4>Chapter 1</h4>
    <audio controls="">
      <source src="https://storage.googleapis.com/generated-books/a7937754-ccc4-4830-bf26-82002bc270f7/chapter-1.wav" type="audio/wav">
      <p>Your browser does not support the audio element</p>
    </audio>
    <h4>Chapter 2</h4>
    <audio controls="">
      <source src="https://storage.googleapis.com/generated-books/a7937754-ccc4-4830-bf26-82002bc270f7/chapter-2.wav" type="audio/wav">
      <p>Your browser does not support the audio element</p>
    </audio>
    <h4>Chapter 3</h4>
    <audio controls="">
      <source src="https://storage.googleapis.com/generated-books/a7937754-ccc4-4830-bf26-82002bc270f7/chapter-3.wav" type="audio/wav">
      <p>Your browser does not support the audio element</p>
    </audio>
    <img src="/assets/img/register.png" alt="Walking into Sci-fi world" style="max-width: 100%; min-width: 100%; margin-bottom: 15px;" />
  </div>
</div>