body {
    background-color: #171822;
    color: #abfcdd;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    background-color: #21474e;
    color: beige;
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
    background-color: #0b1c1f;
    color: beige;
}

.hidden {
    display: none;
}

iframe { 
    width: 100%;
    aspect-ratio: 16 / 9;
}