body {
    background-color: #171822;
    color: #abfcdd;
}
input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea {
    background-color: #21474e;
    color: beige;
}
.hidden {
    display: none;
}