<nav class="navbar navbar-expand-lg bg-body-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    @if (isAuthenticated()) {
      <div class="d-flex">
        <a [routerLink]="['/novels']"><img src="/assets/img/small-header-transparent.png" alt="Novels AI" style="max-height:38px;" /></a>
      </div>
      <div class="d-flex">
        <button type="button" class="btn btn-primary me-2" [routerLink]="['/create']">
          New Novel
        </button>
        <button 
          type="button"
          class="btn btn-success me-2 d-none d-md-inline"
          (click)="buyPoints()"
          [disabled]="paymentInProgress">Buy 10 credits</button>
        @if (!isSubscribed) {
          <button 
            type="button"
            class="btn btn-info me-2 d-none d-md-inline"
            (click)="subscribe()"
            [disabled]="paymentInProgress">Subscribe (€6.99/mo)</button>
        } @else {
          <button 
            type="button"
            class="btn btn-danger me-2 d-none d-md-inline"
            (click)="cancelSubscription()"
            [disabled]="paymentInProgress">Cancel Subscription</button>
        }
        <button type="button" class="btn btn-secondary" (click)="logout()">Logout</button>
      </div>
    }
    @else {
      <button type="button" class="btn btn-secondary me-3" [routerLink]="['/register']">Sign Up</button>
      <div class="d-flex">
        <button type="button" class="btn btn-primary me-3" id="navbar-signin-btn" data-bs-toggle="modal" data-bs-target="#signinModal">
          Email Login
        </button>
        <button class="btn btn-primary" [disabled]="isGoogleLoginDisabled" (click)="googleLogin()">{{ googleSignInButtonText }}</button>
      </div>
    }
  </div>
</nav>

<!-- Login Modal -->
<div #signinModal class="modal fade bg-body-dark" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true" data-bs-theme="dark">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinModalLabel">E-mail Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="emailLogin()">
          <div class="input-group mb-3">
            <input id="input-email" name="email" [(ngModel)]="email" aria-describedby="emailHelp" class="form-control" type="email" placeholder="E-mail" aria-label="E-mail">
          </div>
          <div class="input-group mb-3">
            <input id="input-password" name="password" [(ngModel)]="password" class="form-control" type="password" placeholder="Password" aria-label="Password">
          </div>
          <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">Login</button>
        </form>
        <div style="margin-top: 15px;">
          <button type="button" class="btn btn-secondary w-100" [routerLink]="['/register']" data-bs-dismiss="modal">Not yet a member? Register here!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-confirmation-modal #cancelSubscriptionModal title="Cancel Subscription"></app-confirmation-modal>
<app-subscription-benefits-modal #subscriptionBenefitsModal></app-subscription-benefits-modal>
