<div class="container">
  <a [routerLink]="['/novels']"><img src="/assets/img/small-header.png" alt="Novels AI" style="max-width: 100%;" /></a>
  <div>
    <h1 class="mb-4">What's New?</h1>

    <div class="mb-5">
      <h3>2025-02-02</h3>
      <ul>
        <li>Create custom voices from text prompts to use in your stories! For monthly subscribers only.</li>
      </ul>
      <h3>2025-01-28</h3>
      <ul>
        <li>Add wiki-links and images to characters for more detaild description of them.</li>
        <li>Now you can save the creation forms as reusable templates.</li>
        <li>When extending novels you now have the option to give direction and extra details about the next chapter.</li>
      </ul>
      <h3>2025-01-24</h3>
      <ul>
        <li>New premium voices to choose from for subscribing users!</li>
        <li>Now you can export novels in iTunes audiobook format (m4b), for monthly subscribers only. <a [routerLink]="['/publish-guide']" class="text-light">Read guide here!</a></li>
      </ul>
      <h3>2024-11-27</h3>
      <ul>
        <li>Define a location for your stories, it can be anywhere from New York to outer space!</li>
      </ul>
      <h3>2024-11-18</h3>
      <ul>
        <li>Brand new novels list with audio player.</li>
        <li>Better form for entering several characters in a story.</li>
        <li>Now you can sign up for a monthly subscription.</li>
      </ul>
      <h3>2024-10-14</h3>
      <ul>
        <li>Now you can upload an image that will influence the storyline of the novel.</li>
      </ul>
      <h3>2024-10-10</h3>
      <ul>
        <li>Now you can pick the narrators point of view. <a [routerLink]="['/pov']" class="text-light">Read more here!</a></li>
        <li>New improved voices, Paul, Sophia, Kate, Orion and Eve.</li>
        <li>Selected voice shown in list details.</li>
      </ul>
    </div>
    
    <img src="/assets/img/privacy.png" alt="Robot reading the news" style="max-width: 100%; min-width: 100%; margin-bottom: 15px;" />
  </div>
</div>