<div class="container">
  <a [routerLink]="['/list']"><img src="/assets/img/small-header.png" alt="Novels AI" style="max-width: 100%;" /></a>
  <div id="contact-page">
    <h2>Contact Us</h2>
    <p>
        If you have any questions, feedback or concerns about our Novels AI, please contact us at info&#64;novels-ai.com.
    </p>
    <p>You can also join our community at Discord for support and other discussions at <a href="https://discord.gg/buFrgqGW">https://discord.gg/buFrgqGW</a></p>
    <p>Subscribe to our YouTube channel to watch our favorite stories made with Novels AI matched with some Midjourney art. <a href="https://www.youtube.com/@NovelsAI">https://www.youtube.com/&#64;NovelsAI</a></p>
    <p>If you want to know more about the creator The Nerdic Coder (Johan Axelsson), visit his website at <a href="https://nerdic-coder.com" target="_blank">https://nerdic-coder.com</a></p>
    <img src="/assets/img/contact.png" alt="Walking into Sci-fi world" style="max-width: 100%; min-width: 100%; margin-bottom: 15px;" />
  </div>
</div>
