<div class="container">
  <a [routerLink]="['/novels']"><img src="/assets/img/small-header.png" alt="Novels AI" style="max-width: 100%;" /></a>
  <div id="contact-page">
    <h1 class="mb-4">Narrator's Point of View</h1>

    <div class="mb-5">
      <h3>First Person</h3>
      <p>In the first-person point of view, the story is narrated directly by one of the characters, often the protagonist, using pronouns like "I" and "me." This narrator recounts events and describes their thoughts, feelings, and perceptions from their personal perspective. The first-person POV provides a direct window into the narrator's mind, creating a sense of intimacy and immediacy with the reader.</p>
    </div>
  
    <div class="mb-5">
      <h3>Third Person Limited</h3>
      <p>The third person limited point of view features a narrator who is outside of the story and relates the thoughts, feelings, and experiences of a single character. This perspective allows readers to closely follow one character's journey while maintaining some narrative distance.</p>
    </div>
  
    <div class="mb-5">
      <h3>Third Person Omniscient</h3>
      <p>In the third person omniscient point of view, the narrator knows all the thoughts, actions, and feelings of every character in the story. This "all-knowing" narrator can provide a comprehensive view of the entire narrative, offering insights into multiple characters' experiences and perspectives.</p>
    </div>
  
    <div class="mb-5">
      <h3>Third Person Objective (Dramatic)</h3>
      <p>This point of view features a narrator who reports only what is seen and heard, without providing access to the thoughts or feelings of any character. It presents the story in a neutral, unbiased manner, much like a camera recording events, allowing readers to interpret characters' emotions and motivations based solely on their actions and dialogue.</p>
    </div>
  
    <div class="mb-5">
      <h3>Second Person</h3>
      <p>The second-person point of view addresses the reader directly using "you," making the reader feel as if they are the protagonist of the story. This immersive POV is often used in interactive fiction or choose-your-own-adventure stories to engage the reader in a unique, participatory narrative experience.</p>
    </div>
  
    <div class="mb-5">
      <h3>Multiple Points of View</h3>
      <p>Multiple points of view involve telling the story from the perspectives of different characters, switching between them at set intervals. This allows for a richer narrative by exploring various characters' thoughts and experiences, providing depth and complexity to the story.</p>
    </div>
  
    <div class="mb-5">
      <h3>Stream of Consciousness</h3>
      <p>The stream of consciousness point of view attempts to capture the continuous flow of a character’s thoughts, feelings, and impressions in a disorganized or free-flowing manner. It provides a deep insight into a character's inner world, mimicking their internal monologue.</p>
    </div>
  
    <div class="mb-5">
      <h3>Unreliable Narrator</h3>
      <p>An unreliable narrator tells the story in a way that may not be completely accurate or credible, often due to personal bias, mental instability, or limited knowledge. This POV adds an element of mystery and can keep readers engaged as they try to decipher the true events of the story.</p>
    </div>
  
    <div class="mb-5">
      <h3>First Person Plural</h3>
      <p>First-person plural narration uses the collective "we," representing a group of characters with a shared experience or perspective. This unique narrative voice is effective for stories about community or collective experiences.</p>
    </div>
  
    <div class="mb-5">
      <h3>Detached Narrator</h3>
      <p>A detached narrator describes events in a neutral or emotionally distant manner, often without subjective commentary or engagement. This POV is effective for stories that explore stark realities or where emotional distance enhances the themes or atmosphere.</p>
    </div>
    
    <img src="/assets/img/register.png" alt="Walking into Sci-fi world" style="max-width: 100%; min-width: 100%; margin-bottom: 15px;" />
  </div>
</div>